#link{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#mainBox{
	border: solid 1pt;
  	width: 75%;
  	height: 95%;
}

#subHeaderBox{
	display: flex;
  	align-items: center;
  	justify-content: center;
}
#subHeader{
	border: solid 1pt;
  	width: 70%;
  	height: 20%;
  	background-color: red;
}

#subHeaderMenuBox{
	display: flex;
  	align-items: center;
  	justify-content: center;
}
#subHeaderMenu{	
	position: relative;
	top: 5px;
	border: solid 1pt;
	width: 70%;
	height: 20px;
	background-color: red;
}

#subHeaderMenuLinkList{

}
#seachField{
  width: 200px;
}

#subMainBox{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#subMain{	
	position: relative;
	top: 10px;
	border: solid 1pt;
  	width: 70%;
  	height: 75%;
  	background-color: red;
}